In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("apple_data.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-09,189.500000,190.679993,189.300003,190.580002,187.722488,19756600
1,2018-07-10,190.710007,191.279999,190.179993,190.350006,187.495941,15939100
2,2018-07-11,188.500000,189.779999,187.610001,187.880005,185.062973,18831500
3,2018-07-12,189.529999,191.410004,189.309998,191.029999,188.165741,18041100
4,2018-07-13,191.080002,191.839996,190.899994,191.330002,188.461243,12513900

In [3]:
df_no_date =  df.drop(columns="Date")
df_no_date.head(15)

          Open        High         Low       Close   Adj Close    Volume
0   189.500000  190.679993  189.300003  190.580002  187.722488  19756600
1   190.710007  191.279999  190.179993  190.350006  187.495941  15939100
2   188.500000  189.779999  187.610001  187.880005  185.062973  18831500
3   189.529999  191.410004  189.309998  191.029999  188.165741  18041100
4   191.080002  191.839996  190.899994  191.330002  188.461243  12513900
5   191.520004  192.649994  190.419998  190.910004  188.047531  15043100
6   189.750000  191.869995  189.199997  191.449997  188.579453  15534500
7   191.779999  191.800003  189.929993  190.399994  187.545181  16393400
8   189.690002  192.550003  189.690002  191.880005  189.003006  20286800
9   191.779999  192.429993  190.169998  191.440002  188.569595  20676200
10  190.679993  191.960007  189.559998  191.610001  188.737030  15989400
11  192.449997  193.660004  192.050003  193.000000  190.106216  18697900
12  193.059998  194.850006  192.429993  194.820007  191.898926  16709900
13  194.610001  195.960007  193.610001  194.210007  191.298080  19076000
14  194.990005  195.190002  190.100006  190.979996  188.116501  24024000

In [4]:
# normal date printing with Businees Days 
# it excludes weekends but not holidays 

pd.date_range(start="1/1/2019", periods = 50, freq = 'B')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07',
               '2019-02-08', '2019-02-11', '2019-02-12', '2019-02-13',
               '2019-02-14', '2019-02-15', '2019-02-18', '2019-02-19',
               '2019-02-20', '2019-02-21', '2019-02-22', '2019-02-25',
               '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01',
               '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07',
               '2019-03-08', '2019-03-11'],
              dtype='datetime64[ns]', freq='B')

# Making a custom holiday class

In [30]:
# Custom Holiday Calender 

from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class MyBirthDayCalender(AbstractHolidayCalendar):
    
    rules = [
        Holiday('Anik"s Birth Day', month = 7, day = 16)
    ]
    
mycal = AbstractHolidayCalendar(MyBirthDayCalender())


'''
ERROR: needs to be solved 

freq = mycal should exclude the given date 

'''

pd.date_range(start="6/1/2019", end = "8/1/2019", freq='D')

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20',
               '2019-06-21', '2019-06-22', '2019-06-23', '2019-06-24',
               '2019-06-25', '2019-06-26', '2019-06-27', '2019-06-28',
               '2019-06-29', '2019-06-30', '2019-07-01', '2019-07-02',
               '2019-07-03', '2019-07-04', '2019-07-05', '2019-07-06',
               '2019-07-07', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18',
               '2019-07-19', '2019-07-20', '2019-07-21', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26',
               '2019-07-27', '2019-07-28', '2019-07-29', '2019-07-30',
               '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='D')