In [1]:
import pandas as pd

# First DataFrame

In [11]:
finland_weather = pd.DataFrame({
    
    "city": ["helsinki","tampere","turku","vantaa"],
    "temperature":[18,19,20,15],
    "humidity":[56,67,55, 40]
})

finland_weather

       city  temperature  humidity
0  helsinki           18        56
1   tampere           19        67
2     turku           20        55
3    vantaa           15        40

# Second DataFrame

In [12]:
sweden_weather = pd.DataFrame({
    
    "city": ["stolkholm","malmo","lund","linkoping"],
    "temperature":[23,33,22,28],
    "humidity":[76,47,35, 87]
})

sweden_weather

        city  temperature  humidity
0  stolkholm           23        76
1      malmo           33        47
2       lund           22        35
3  linkoping           28        87

# Concat

In [14]:
pd.concat([finland_weather,sweden_weather])

        city  temperature  humidity
0   helsinki           18        56
1    tampere           19        67
2      turku           20        55
3     vantaa           15        40
0  stolkholm           23        76
1      malmo           33        47
2       lund           22        35
3  linkoping           28        87

In [25]:
pd.concat([finland_weather,sweden_weather], ignore_index = True) # default axis 0,  means join as row

        city  temperature  humidity
0   helsinki           18        56
1    tampere           19        67
2      turku           20        55
3     vantaa           15        40
4  stolkholm           23        76
5      malmo           33        47
6       lund           22        35
7  linkoping           28        87

In [16]:
pd.concat([finland_weather,sweden_weather], keys=["finland", "sweden"])

                city  temperature  humidity
finland 0   helsinki           18        56
        1    tampere           19        67
        2      turku           20        55
        3     vantaa           15        40
sweden  0  stolkholm           23        76
        1      malmo           33        47
        2       lund           22        35
        3  linkoping           28        87

In [18]:
df = pd.concat([finland_weather,sweden_weather], keys=["finland", "sweden"])
df.loc["sweden"]

        city  temperature  humidity
0  stolkholm           23        76
1      malmo           33        47
2       lund           22        35
3  linkoping           28        87

# Appending 2nd DataFrame as column

In [19]:
finland_weather_1 = pd.DataFrame({
    "city": ["helsinki","tampere","turku","vantaa"],
    "temperature":[18,19,20,15],
    
})

finland_weather_1

       city  temperature
0  helsinki           18
1   tampere           19
2     turku           20
3    vantaa           15

In [20]:
finland_weather_2 = pd.DataFrame({
    "city": ["helsinki","tampere","turku","vantaa"],
    "humidity":[56,67,55, 40]
})

finland_weather_2

       city  humidity
0  helsinki        56
1   tampere        67
2     turku        55
3    vantaa        40

In [24]:
pd.concat([finland_weather_1,finland_weather_2], axis = 1) # axis = 1 means join as column

       city  temperature      city  humidity
0  helsinki           18  helsinki        56
1   tampere           19   tampere        67
2     turku           20     turku        55
3    vantaa           15    vantaa        40

# Concat operation for different sequence of data

In [33]:
finland_weather_3 = pd.DataFrame({
    "city": ["helsinki","tampere","turku","vantaa"],
    "temperature":[18,19,20,15]
    }, index = [0,1,2,3])

finland_weather_3

       city  temperature
0  helsinki           18
1   tampere           19
2     turku           20
3    vantaa           15

In [34]:
finland_weather_4 = pd.DataFrame({
    "city": ["turku","vantaa","helsinki"],
    "humidity":[56,55, 40]
    }, index = [2,3,0]) # following the index of first DataFrame 

finland_weather_4

       city  humidity
2     turku        56
3    vantaa        55
0  helsinki        40

In [38]:
overall_weather = pd.concat([finland_weather_3,finland_weather_4], axis = 1)
overall_weather

       city  temperature      city  humidity
0  helsinki           18  helsinki      40.0
1   tampere           19       NaN       NaN
2     turku           20     turku      56.0
3    vantaa           15    vantaa      55.0

# Adding a series into the DataFrame

In [39]:
s = pd.Series(["Humid", "Rainy", " Dry", "Unknown"], name = "event")
s

0      Humid
1      Rainy
2        Dry
3    Unknown
Name: event, dtype: object

In [41]:
final_weather = pd.concat([overall_weather,s],axis=1)
final_weather

       city  temperature      city  humidity    event
0  helsinki           18  helsinki      40.0    Humid
1   tampere           19       NaN       NaN    Rainy
2     turku           20     turku      56.0      Dry
3    vantaa           15    vantaa      55.0  Unknown