In [1]:
import pandas as pd

In [2]:
finland_temperature = pd.DataFrame({
    "city": ["helsinki","tampere","turku","vantaa"],
    "temperature":[18,19,20,15]
})


finland_humidity = pd.DataFrame({
    "city": ["tampere","turku","helsinki","oulu"],
    "humidity":[87,93,50,65]
})

In [3]:
finland_temperature = pd.merge(finland_temperature,finland_humidity, on="city") # will join best of city 
finland_temperature

       city  temperature  humidity
0  helsinki           18        50
1   tampere           19        87
2     turku           20        93

In [4]:
finland_temperature = pd.DataFrame({
    "city": ["helsinki","tampere","turku","jyvaskyla"],
    "temperature":[18,19,20,15]
})


finland_humidity = pd.DataFrame({
    "city": ["tampere","turku","helsinki","vantaa"],
    "humidity":[87,93,50,65]
})

#inner join - by default
finland_weather = pd.merge(finland_temperature,finland_humidity, on ="city")
finland_weather

       city  temperature  humidity
0  helsinki           18        50
1   tampere           19        87
2     turku           20        93

In [5]:
# outer join

finland_weather = pd.merge(finland_temperature,finland_humidity, on ="city", how = "outer")
finland_weather

        city  temperature  humidity
0   helsinki         18.0      50.0
1    tampere         19.0      87.0
2      turku         20.0      93.0
3  jyvaskyla         15.0       NaN
4     vantaa          NaN      65.0

In [6]:
# outer join

finland_weather = pd.merge(finland_temperature,finland_humidity, on ="city", how = "outer")
finland_weather

        city  temperature  humidity
0   helsinki         18.0      50.0
1    tampere         19.0      87.0
2      turku         20.0      93.0
3  jyvaskyla         15.0       NaN
4     vantaa          NaN      65.0

In [7]:
# left join - every element from left table + common elements 

finland_weather = pd.merge(finland_temperature,finland_humidity, on ="city", how = "left", indicator = True)
finland_weather

        city  temperature  humidity     _merge
0   helsinki           18      50.0       both
1    tampere           19      87.0       both
2      turku           20      93.0       both
3  jyvaskyla           15       NaN  left_only

In [8]:
# right join - every element from right table + common elements 

finland_weather = pd.merge(finland_temperature,finland_humidity, on ="city", how = "right")
finland_weather

       city  temperature  humidity
0  helsinki         18.0        50
1   tampere         19.0        87
2     turku         20.0        93
3    vantaa          NaN        65

In [23]:
# using suffixes 

finland_temperature = pd.DataFrame({
    "city": ["helsinki","tampere","turku","vantaa"],
    "temperature":[18,19,20,15]
})


finland_humidity = pd.DataFrame({
    "city": ["tampere","turku","helsinki","oulu"],
    "temperature":[18,19,20,15]
})

finland_weather = pd.merge(finland_temperature,finland_humidity, on ='city', suffixes=('_left','_right'))
finland_weather

       city  temperature_left  temperature_right
0  helsinki                18                 20
1   tampere                19                 18
2     turku                20                 19